body {
  display: grid;
  background-color: lightblue;
  grid-template-rows: 10vh 70vh 45vh;
  background-image: url("./background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/* FIXME: move nav into a different file */

#nav {
  display: grid;

  background-color: white;
  border-radius: 15px;
  height: auto;

  padding: 2px 10px 2px 15px;
}

.nav-btn {
  color: black;
  border-radius: 15px;

  text-decoration: none;
  font-family: "Open Sauce", sans-serif;
  font-size: 25px;

  padding: 2px;
}

.nav-btn:hover {
  background-color: #ded9da;
}

#welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 1000px) {
  #welcome-text {
    font-size: 3rem;
  }

  .main-btn {
    font-size: 3rem;
  }
}

@media screen and (max-width: 600px) {
  #welcome-text {
    font-size: 2rem;
  }

  .main-btn {
    font-size: 2rem;
  }
}

#welcome-text {
  text-align: center;
  width: 50%;
  font-weight: bold;
  font-family: "Poppins", "sans-serif";
  color: #375e90;
  margin: 15px;
}

#welcome-text-float {
  font-size: 16px;
  font-family: "Lobster";
  /* Can be moved to the left a bit */
  margin: 2vh 0px 15vh 0px;
  transform: translate(-15vw, 0px) rotate(-3deg);
}

/* FIXME: margin is a bit too much */
#rule-btns {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* align-items: center; */
}

.main-btn {
  font-family: "Poppins", "sans-serif";
  color: #37567e;
  font-weight: bold;
  text-decoration: none;
  border-radius: 20px;
  padding: 5px 7px 5px 7px;
  width: max-content;
  height: max-content;
  margin: 0px 10px 0px 10px;
}

#caution {
  background-color: #fef9fa;
  box-shadow: 0px 4px #fbdfe5;
}

#terms {
  background-color: #f7fafc;
  box-shadow: 0px 4px #dfeef6;
}

#rules {
  background-color: #fefcf9;
  box-shadow: 0px 4px #ffecda;
}
