/* FIXME: make grid shrink */
body {
  display: grid;
  background-color: lightblue;
  grid-template-rows: 5vh 85vh 10vh;
  background-image: url("./background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  width: 100vw;
  height: 100vh;
}

#welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 992px) {
  #welcome-text {
    font-size: 3rem;
  }

  .main-btn {
    font-size: 2rem;
  }
}

@media screen and (max-width: 768px) {
  #welcome-text {
    font-size: 2rem;
  }

  .main-btn {
    font-size: 2rem;
  }
}

#welcome-text {
  text-align: center;
  width: 50%;
  font-weight: bold;
  font-family: "Poppins", "sans-serif";
  color: #375e90;
  margin: 15px;
}

#welcome-text-float {
  font-size: 16px;
  font-family: "Lobster";
  /* Can be moved to the left a bit */
  margin: 2vh 0px 15vh 0px;
  transform: translate(-15vw, -10px) rotate(-3deg);
}

/* FIXME: margin is a bit too much */
#rule-btns {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* align-items: center; */
}

.main-btn {
  font-family: "Poppins", "sans-serif";
  color: #37567e;
  font-weight: bold;
  text-decoration: none;
  border-radius: 20px;
  padding: 5px 7px 5px 7px;
  width: max-content;
  height: max-content;
  margin: 5px 10px 5px 10px;
  transform: translate(0px, -100px);
}

#caution {
  background-color: #fef9fa;
  box-shadow: 0px 4px #fbdfe5;
}

#terms {
  background-color: #f7fafc;
  box-shadow: 0px 4px #dfeef6;
}

#rules {
  background-color: #fefcf9;
  box-shadow: 0px 4px #ffecda;
}
