body {
  background-color: lightblue;
  background-image: url("../background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#platform-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-family: "Paytone One";
}

#platform-container>h1 {
  font-size: 2rem;
}

/* FIXME: grid is not working */
#platform-container>ul {
  list-style-type: none;
  display: grid;
  /* grid-template-columns: repeat(auto-fit, 4ch); */
  grid-template-columns: auto auto auto;

  margin: 50px 70vw 0px 70vw;

  width: 100vw;
  height: 100vh;
}

@media screen and (min-width:1000px) {
  #platform-container>ul>li>a {
    font-size: 2rem;
  }

  #platform-container>ul {
    gap: 20ch 10ch;
  }
}

@media screen and (max-width:999px) {
  #platform-container>ul>li>a {
    font-size: 1.5rem;
  }

  #platform-container>ul {
    gap: 6ch 5ch;
  }
}

#platform-container>ul>li {
  height: fit-content;
  width: fit-content;
}

#platform-container>ul>li>a {
  background-image: url("../white-overlay.png"), url("../border-image.png");
  /* FIXME: size need to be fix */
  background-size: cover, cover;
  background-repeat: no-repeat, no-repeat;

  /* width: fit-content; */
  /* height: fit-content; */

  padding: 2ch 2ch 2ch 2ch;
  border-radius: 10px;

  color: black;
  text-decoration: none;
  text-align: center;
}
