body {
  background-color: lightblue;
  background-image: url("../background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#platform-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-family: "Paytone One";
}

#platform-header {
  font-size: 2rem;
}

/* FIXME: grid is not working */
#platform-list {
  list-style-type: none;
  display: grid;
  /* grid-template-columns: repeat(auto-fit, 4ch); */
  grid-template-columns: auto auto auto;

  margin: 50px 70vw 0px 70vw;

  width: 100vw;
  height: 100vh;
}

@media screen and (min-width:1000px) {
  .link {
    font-size: 2rem;
  }

  #platform-list {
    gap: 20ch 10ch;
  }
}

@media screen and (max-width:999px) {
  .link {
    font-size: 1.5rem;
  }

  #platform-list {
    gap: 6ch 5ch;
  }
}

.platform-element {
  height: fit-content;
  width: fit-content;
}

.link-container {
  background-image: url('/border-image.png');
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
  padding: 2ch 1ch 2ch 1ch;
}

.link {
  background-color: rgba(255, 255, 255, 0.5);
  /* FIXME: size need to be fix */

  /* width: fit-content; */
  /* height: fit-content; */

  padding: 0.5ch 1ch 0.5ch 1ch;
  border-radius: 25px;

  color: black;
  text-decoration: none;
  text-align: center;
}
