<!DOCTYPE html>
<html lang="vi">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title></title>
  <link rel="stylesheet" type="text/css" href="/component/nav-bar-mobile/nav-bar-mobile.css" />
  <base href="https://deanveb.github.io/moon-web/" target="_self">
  <script src="utils/inheritance.js" type="module"></script>
  <!-- <script src="/utils/collapse.js" type="module"></script> -->
</head>

<body>
  <div id="content">
    <!-- <div id="menu-bar"> -->
    <!--   <div id="menu-btn"> -->
    <!-- TODO: add proper emoji icon -->
    <!--     <button type="button" onclick="collapse(this, 'menu-bar')">X</button> -->
    <!--   </div> -->
    <!--   <div id="logo"> -->
    <!--     <img src="/logo.png" alt="Oopsie" id="logo"> -->
    <!--   </div> -->
    <!--   <div id="nav-buttons"> -->
    <!--     <a href="index.html" class="nav-btn">Trang Chủ</a> -->
    <!--     <a href="books/index.html" class="nav-btn">Sách</a> -->
    <!--   </div> -->
    <!-- </div> -->
    <div id="nav"><!-- TODO: Add a logo -->
      <div id="left-side">
        <!-- <div id="menu-btn"> -->
        <!-- TODO: add proper emoji icon -->
        <!--   <button type="button" onclick="collapse(this, 'menu-bar')">=</button> -->
        <!-- </div> -->
        <div id="logo">
          <!-- FIXME: fix the size -->
          <img src="logo.webp" alt="Oopsie" id="logo">
        </div>
      </div>
      <div id="middle-side">
        <div id="nav-buttons">
          <a href="index.html" class="nav-btn">Trang Chủ</a>
          <a href="books/index.html" class="nav-btn">Danh Sách</a>
        </div>
      </div>
      <div id="right-side">
      </div>
    </div>
  </div>
</body>

</html>
