<!DOCTYPE html>
<html lang="vi">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title></title>
  <link href="css/style.css" rel="stylesheet">
</head>

<body>
  <div id="content">
    <div id="nav"><!-- TODO: Add a logo -->
      <div id="left-side">
        <div id="logo">
          <img src="/logo.png" alt="Oopsie" id="logo">
        </div>
        <div id="nav-buttons">
          <a href="index.html" class="nav-btn">Trang Chủ</a>
          <a href="books/index.html" class="nav-btn">Sách</a>
        </div>
      </div>
      <div id="right-side">
      </div>
    </div>
  </div>
</body>

</html>
