body {
  overflow-x: hidden;
  height: 100vh;
  background-image: url("../../background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/* div { */
/*   display: flex; */
/*   align-items: center; */
/*   justify-content: center; */
/*   flex-direction: column; */
/* } */

@media screen and (max-width:768px) {
  div>h1 {
    font-size: 2rem;
  }

  div>ul>li>p {
    font-size: 1.25rem;
  }
}

@media screen and (min-width:992px) {
  div>h1 {
    font-size: 3rem;
  }

  div>ul>li>p {
    font-size: 1.8rem;
  }
}

div>h1 {
  font-family: 'Poppins', sans-serif;
  background-color: white;
  width: fit-content;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 3px 10px 3px 16px;
  margin-bottom: 0px;
  transform: translate(0px, 1.5ex);
}

div>ul>li>p {
  font-family: 'Poppins', sans-serif;
  margin-top: 0px;
}

div>ul {
  background-color: white;
  border-radius: 10px;
  border-top-left-radius: 0px;
  margin-top: 0px;
  padding: 6ex 16px 16px 16px;
}
