/* FIXME: fixe the position of h1 and add a media size */

body {
  overflow-x: hidden;
  height: 100vh;
  background-image: url("../../background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

div>h1 {
  font-size: 3rem;
  font-family: 'Poppins', sans-serif;
  background-color: white;
  width: fit-content;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 3px 10px 3px 16px;
  margin-bottom: 0px;
}

div>div {
  font-size: 1.8rem;
  font-family: 'Poppins', sans-serif;
  background-color: white;
  margin-top: 0px;
  padding-left: 10px;
  border-radius: 10px;
  border-top-left-radius: 0px;
}

div>div>p {
  font-weight: bold;
  margin-top: 0px;
}

div>ul {
  background-color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-top: 0px;
}
