body {
  background-color: #ebe6e2;

  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

@media screen and (max-width:768px) {
  img {
    scale: 2
  }
}

@media screen and (min-width:992px) {
  img {
    scale: 0.75
  }

}

img {
  vertical-align: left;
  scale: 0.5;
  max-width: 120%;
  max-height: 120%;
}

#container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#question-list {
  width: 75vw;
  height: 100vh;
}

#main-title {
  font-family: "Paytone One", 'Courier New', Courier, monospace;
}

.info {
  background-color: #d3cdc9;

  width: fit-content;
  padding: 10px 20px 5px 20px;
  margin-bottom: 0px;

  border-radius: 10px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.content {
  background-color: white;

  margin-top: 0px;
  padding: 5px 5px 5px 5px;

  border-radius: 10px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.answer {
  background-color: #d3cdc9;

  margin: 0px 0px 0px 0px;

  border-radius: 10px;
}

.long-answer {
  margin: 0px 0px 0px 0px;
  padding: 1ch 1ch 1ch 1ch;

  /* display: flex; */
  /* justify-content: left; */
  /* flex-direction: column; */
}

.long-answer {
  display: none;
}

.toggle-btn {
  background-color: w;

}
